body {
 background-color: #c4c4a060;
}

a {
  color: #D6B015;
}

#center-text {
  text-align: center;
}

#datetime {
  color: 	#757571;
}

#shopping-list {
  text-align: center;
  border: 2px solid silver;
  /* border-color: black; */
}

.Row {
  display: inline;
  position: relative;
  width: 100%;
}

.Column {
  display: inline-block;
  padding: 5px;
  border: 2px solid #c4c4a060;
  text-align: center;
  font-weight: bold;
  background-color: #000000;
  color: #D6B015;
  /* height: 90% */
  float: left;
  width: 12%;
}

.Side-Column {
  display: inline-block;
  box-shadow: 5px 5px 25px;
  /* border: 2px solid silver; */
  /* text-align:left; */
  /* height: 90% */
  float: left;
  width: 30%;
}

.list-icon-row {
  padding: 10px;
  background-color: #000000;
  color: #D6B015;

}

.fas-fa-plus {
  padding-top: 10px;
  display: 40%;
  float: left;
}

.fas-fa-minus {
  padding-top: 10px;
  display: 40%;
  float: left;
}

#Welcome {
  text-align: center;
}

.component-title {
  background-color: #D6B015;
  color: #000000;
}
