/* General */
body {
  background-color:#345eeb;
  font-family:sans-serif;
  padding:0;
  margin:0;
  color: #FFFFFF;
  font-size: 100%;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.center {
  text-align: center;
}

/* Specific elements */
#datetime {
  color: 	#FFFFFF;
}

/* Navbar */
.navbar{
  background-color:black;
  color:white;
}
.navbar > div{
  display:inline-block;
  text-align:center;
  padding:10px 45px;
  margin:10px 0;
}
.navbar > div:not(:last-child){
  border-right:solid 1px white;
}
.navbar span{
  display:block;
}
.curr-page {
  box-shadow: 3px -3px 10px 3px;
}

/* Shopping list */
#shopping-list {
  text-align: center;
  /* border-color: black; */
}

/* Expiration Manager */
#expr8-man {
  text-align: center;
  /* border-color: black; */
}

/* Add */
#item-entry {
  text-align: center;
  border: solid 3px black;
}

/* Other */
.Row {
  display: inline-flex;
  position: relative;
  width: 110%;
}

.Column {
  display: inline-block;
  box-shadow: 10px 10px 30px 10px;
  text-align: center;
  width: 100%;
}

.Side-Column {
  display: inline-block;
  box-shadow: 10px 10px 30px 10px;
  font-weight: bold;
  /* border: 2px solid silver; */
  /* text-align:left; */
  /* height: 90% */
  /* float: left; */
  text-align: center;
  width: 70%;
}

.list-icon-row {
  padding: 10px;
  background-color: #000000;
  color: #FFFFFF;

}

.fas-fa-plus {
  padding-top: 10px;
  display: 40%;
  float: left;
}

.fas-fa-minus {
  padding-top: 10px;
  display: 40%;
  float: left;
}

#Welcome {
  text-align: center;
}

.component-title {
  background-color: #FFFFFF;
  color: #000000;
}
